* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Montserrat;
	color: white;
}
.col-1 {width: calc(100% /12 *1 - 20px ); }
.col-2 {width: calc(100% /12 *2 - 20px ); }
.col-3 {width: calc(100% /12 *3 - 20px ); }
.col-4 {width: calc(100% /12 *4 - 20px ); }
.col-5 {width: calc(100% /12 *5 - 20px ); }
.col-6 {width: calc(100% /12 *6 - 20px ); }
.col-7 {width: calc(100% /12 *7 - 20px ); }
.col-8 {width: calc(100% /12 *8 - 20px ); }
.col-9 {width: calc(100% /12 *9 - 20px ); }
.col-10 {width: calc(100% /12 *10 - 20px ); }
.col-11 {width: calc(100% /12 *11 - 20px ); }
.col-12 {width: calc(100% /12 *12 - 20px ); }


.container {
	width: 1100px;
	background: grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	margin: 0 auto;
}

/* Шапка сайту */
.header {
	background: red;
	height: 80px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display:flex;
	justify-content: space-between;
	list-style-type: none;
}

/* Промо блок */

.promo {
	display:flex;
	justify-content: space-between;
}
.promo_title {
	height: 100px;
	font-size: 48px;
	margin-bottom: 20px;
}
.promo_text {
	float: right;
}